@font-face {
	font-family: 'Roboto Slab';
	font-weight: 900;
	font-style: normal;
	font-display: block;
	src: url('RobotoSlab-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 500;
	font-style: normal;
	font-display: block;
	src: url('RobotoSlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-style: normal;
	font-display: block;
	src: url('RobotoSlab-Regular.ttf') format('truetype');
}
