/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body > div {
	@apply contents;
}

body {
	@apply overflow-auto bg-main transition-colors;
}

h1 {
	@apply text-3xl font-bold;
}

h2 {
	@apply text-xl font-bold;
}

* {
	@apply bg-inherit no-underline outline-none outline-0;
}

svg {
	@apply h-5 w-5;
}

.blind {
	@apply pointer-events-none opacity-20;
}
