@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-roboto-slab: 'Roboto Slab', 'serif';
	--breakpoint-fd: 30rem;
	--breakpoint-2xl: 100rem;
	--breakpoint-3xl: 120rem;
	--line-height-0: 0;
}

@theme inline {
	--color-contrast-100: var(--color-contrast-100);
	--color-contrast-200: var(--color-contrast-200);
	--color-contrast-300: var(--color-contrast-300);
	--color-contrast-400: var(--color-contrast-400);
	--color-contrast-500: var(--color-contrast-500);
	--color-contrast-600: var(--color-contrast-600);
	--color-contrast-700: var(--color-contrast-700);
	--color-contrast-800: var(--color-contrast-800);
	--color-contrast-900: var(--color-contrast-900);

	--color-main-100: var(--color-main-100);
	--color-main-200: var(--color-main-200);
	--color-main-300: var(--color-main-300);
	--color-main-400: var(--color-main-400);
	--color-main-500: var(--color-main-500);
	--color-main-600: var(--color-main-600);
	--color-main-700: var(--color-main-700);
	--color-main-800: var(--color-main-800);
	--color-main-900: var(--color-main-900);

	--color-contrast: var(--color-contrast);
	--color-main: var(--color-main);
	--color-text: var(--color-text);
}

@layer base {
	h1 {
		@apply text-5xl font-medium;
	}
	h2 {
		@apply text-xl font-medium;
	}
	svg {
		@apply size-5;
	}
	* {
		@apply no-underline !outline-none;
		-webkit-tap-highlight-color: transparent;
	}
}

@utility rounded-inherit {
	border-radius: inherit;
}

@utility grid-fit-* {
	/* prettier-ignore */
	grid-template-columns: repeat(auto-fit, minmax(--value(integer)rem, 1fr));
}
@utility break-words {
	word-break: break-word;
	overflow-wrap: break-word;
}
@utility fill-gradient {
	fill: var(--fill-gradient);
}
@utility bind-point {
	@apply absolute size-6 !bg-inherit;
	&:after {
		@apply to-main group-hover:to-text absolute -inset-0.5 -z-[1] rounded-full from-transparent from-50% to-50% content-[''];
	}
}

body {
	@apply bg-main-100 font-roboto-slab flex w-full items-start justify-end overflow-auto;
}
body > div {
	@apply contents;
}

.clear-text * {
	font-size: inherit !important;
}

.blind {
	@apply pointer-events-none opacity-20;
}

.plug {
	@apply text-text flex flex-col items-center justify-center py-10 text-center select-none;
}
.plug > p {
	@apply max-w-xs;
}

.header-button {
	@apply max-fd:!px-3 gap-3;
}
.header-button > p {
	@apply max-md:hidden;
}

.adaptive-font {
	@apply text-[clamp(16px,2.3vw,24px)] leading-snug;
}
.adaptive-font-upper {
	@apply text-[clamp(20px,2.8vw,30px)] leading-snug;
}
.adaptive-padding {
	@apply !px-8 !py-4 max-2xl:!px-6 max-2xl:!py-3;
}

.right-bind-point {
	@apply bind-point left-full -ml-1 rounded-r-full after:bg-gradient-to-r;
}
.left-bind-point {
	@apply bind-point right-full -mr-1 rounded-l-full after:bg-gradient-to-l;
}
